In [25]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
import statistics

In [27]:
df=sns.load_dataset('tips')

In [45]:
df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [46]:
statistics.mean(df.head(5)['total_bill'])

19.322

In [47]:
statistics.median(df.head(5)['total_bill'])

21.01

In [48]:
statistics.mode(df.head(5)['total_bill'])

16.99